@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #010818;
  --foreground: #edf0f5;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
  scrollbar-gutter: stable;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-prosto: var(--font-prosto);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
